<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{header/user-panel}"></div>
<div class="container mt-5">
    <h2 class="mb-3">User's card</h2>
    <div class="pagination">
        <div class="d-flex flex-column">
            <div>
                <form th:action="@{/user/showUserCard}" method="get">
                    <input type="number" id="pageSize" name="pageSize" min="1">
                    <button type="submit" class="btn btn-primary mb-2">Set records per page</button>
                </form>
            </div>
            <div>
                <a th:href="@{/user/showUserCard(page=${-1})}" class="btn btn-primary" role="button">Previous Page</a>
                <a th:href="@{/user/showUserCard(page=${1})}" class="btn btn-primary" role="button">Next Page</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Component</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Confirmation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <a th:href="@{/catalog/componentInfo/{id}(id=${order.component.id})}" th:text="${order.component.name}"></a>
            </td>
            <td th:text="${order.component.description}"></td>
            <td th:text="${order.component.price}"></td>
            <td>
                <form th:action="@{/user/confirmOrder/{id}(id=${order.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-success">Buy</button>
                </form>
                <form th:action="@{/user/cancelOrder/{id}(id=${order.id})}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" th:href="@{/catalog/showComponentsCatalog}">Show Component Catalog</a>
</div>
</body>
</html>