<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .component-card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px;
            text-align: center;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .component-photo {
            width: 150px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<nav>
    <span th:replace="~{${isAdmin} ? 'header/admin-panel' : 'header/user-panel'}"></span>
</nav>
<div class="background"></div>
<div class="container mt-5">
    <h1 class="text-center">Catalog</h1>
    <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <form th:action="@{/catalog/showComponentsCatalog}" method="get">
                        <label for="pageSize">Show</label>
                        <select id="pageSize" name="pageSize">
                            <option value="3" th:selected="${paginationData.pageSize == 3}">3</option>
                            <option value="6" th:selected="${paginationData.pageSize == 6}">6</option>
                            <option value="12" th:selected="${paginationData.pageSize == 12}">12</option>
                            <option value="24" th:selected="${paginationData.pageSize == 24}">24</option>
                        </select>
                        <label for="sortingField">records per page, sorted by</label>
                        <select id="sortingField" name="sortingField">
                            <option value="name" th:selected="${paginationData.sortingField == 'name'}">Name</option>
                            <option value="price" th:selected="${paginationData.sortingField == 'price'}">Price</option>
                        </select>
                        <button class="btn btn-primary" type="submit">Apply</button>
                    </form>
                    <input type="hidden" name="page" th:value="${paginationData.page}" />
                    <input type="hidden" name="sortingField" th:value="${paginationData.sortingField}" />
                    <div class="pagination">
                        <a th:href="@{/catalog/showComponentsCatalog(sortingField=${paginationData.sortingField}, page=0, pageSize=${paginationData.pageSize})}" class="btn btn-primary" role="button">First Page</a>
                        <a th:href="@{/catalog/showComponentsCatalog(sortingField=${paginationData.sortingField}, page=${paginationData.page - 1}, pageSize=${paginationData.pageSize})}"
                           th:if="${paginationData.page > 0}"
                           class="btn btn-primary ml-2" role="button">Previous Page</a>
                        <a th:href="@{/catalog/showComponentsCatalog(sortingField=${paginationData.sortingField}, page=${paginationData.page + 1}, pageSize=${paginationData.pageSize})}"
                           th:if="${paginationData.page < paginationData.totalPages - 1}"
                           class="btn btn-primary ml-2" role="button">Next Page</a>
                        <a th:href="@{/catalog/showComponentsCatalog(sortingField=${paginationData.sortingField}, page=${paginationData.totalPages - 1}, pageSize=${paginationData.pageSize})}" class="btn btn-primary ml-2" role="button">Last Page</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="component : ${components}" class="col-md-4">
                    <div class="component-card">
                        <img th:src="@{~/componentphoto/{photo}(photo=${component.photo})}" class="component-photo" alt="Component Photo">
                        <h4><a th:href="@{/catalog/componentInfo/{id}(id=${component.id})}" th:text="${component.name}">Component Name</a></h4>
                        <p>Price: <span th:text="${component.price}"></span></p>
                        <p>Developer: <a th:href="@{/catalog/developerInfo/{id}(id=${component.developer.id})}" th:text="${component.developer.name}"></a></p>
                        <p>Category: <span th:text="${component.category.name}"></span></p>

                        <form th:unless="${isAdmin}" th:action="@{/user/addOrder/{componentId}(componentId=${component.id})}" method="post">
                            <button class="btn btn-primary" type="submit">Add to the card</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>